h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

p{
    font-family: 'DM sans', sans-serif;
    font-size: 20px;
}

/*Navigation*/

.navigation{
    display: flex;
    width: 93%;
    height: 113px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black
}

.inline-block{
    display: inline-block;
}

.logo{
    font-weight: 700px;
    flex: 1 0 0; 
}

.logo a{
    color:black;
    text-decoration: none;
}

.navlinks{
    font-family: 'DM sans', sans-serif;
    display: flex;
    width: 212px;
    justify-content: flex-end;
    align-items: center;
    gap: 37px;
    flex-shrink: 0;    
}

.navlinks li{
    display: flex;
    width: 60px;
    height: 33px;
    padding: 0px 0px 7px 12px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

li a{
    color:black;
    text-decoration: none;
}

.active{
    text-decoration: underline;
}

li a:hover{
    text-decoration: underline;
}

/*About Me*/

#selfie{
    width: 50%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

h2{
    font-family: 'Playfair Display', sans-serif;
    font-size:50px;
}

.aboutme{
    display:flex;
    flex-direction: row;
    gap: 54px;
    padding: 25px 100px;
}

/*My UX/UI Skills*/

#skills{
    text-align: center;
}

h4{
    font-size: 30px;
}

.Skills{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "research empathy interviews tools"
    "testing ia wireframe coding"
}

#research{
    grid-area: "research";
}

#empathy{
    grid-area: "empathy";
}

#interviews{
    grid-area: "interviews";
}

#tools{
    grid-area: "tools";
}

#testing{
    grid-area: "testing";
}

#ia{
    grid-area: "ia";
}

#wireframe{
    grid-area: "wireframe";
}

#coding{
    grid-area: "coding";
}

.askill{
    margin: 10px;
}

.uxskills{
    padding: 0px 100px;
}

.uxskills p{
    font-size: 18px;
}

.tools li{
    font-family: "DM sans", sans-serif;
    font-size: 18px;
    text-align: left;
    padding: 5px;
}

/*What I Do When I'm Not Working*/

.notworking{
    display:flex;
    flex-direction: row;
    padding: 0px 100px;
    padding-bottom: 50px;
}

figcaption{
    font-size: 20px;
    font-family: 'DM sans', sans-serif;
    text-align: center;
    margin-top: 20px;
}

/*Footer*/

footer{
    width: 100%;
    height: 250px;
    border-top: 1px solid black;  
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    align-self: stretch;
}

.inline-block2{
    display: flex;
    flex-direction: row;
}

.inline-block2 li:hover{
    text-decoration: underline;
}

.inline{
    display: flex;
    align-items: flex-start;
    gap: 897px;
    padding: 0px 75px;
    align-self: stretch;
}

hr{
    width: 95%;
}

.logo2 a{
    color:black;
    text-decoration: none;
}